@import url(https://fonts.googleapis.com/css?family=Raleway);
body {
	background: linear-gradient(-45deg, #ffffff, #00eaff, #0059ff);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

nav {
    float:left;   
    margin: 20px;
}

.menu {
    display: flex;
    flex-direction: row;
}


li {
    margin-top: 0px;
    margin-left: 0px;
    padding: 4.6px 60px;
    display: block;
    background-repeat: no-repeat;
    position: relative;
    font-family: 'Raleway', Arial, sans-serif;
}

li:hover {
    background: blue;
    opacity: 0.7;

}

li:hover:before {
    content: '';
    position: absolute;
    top:0;
    left:-15px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 0 33px 15px;
    border-color: transparent transparent blue transparent;
}
li:hover:after {
    content: '';
    position: absolute;
    top:0;
    right:-15px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 34px 15px 0 0;
    border-color: blue transparent transparent transparent;

}

a {
    text-decoration: none;
    color: azure;
}